name: Construire et pousser les images Docker sur Docker Hub et mettre à jour le répertoire infra pour déclencher Argo CD

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: front
            directory: ./frontend
            image: atos06/gke-vue
          - name: api-node
            directory: ./node-api
            image: atos06/gke-node-api

    steps:
    - name: Récupérer le code source
      uses: actions/checkout@v3

    - name: Obtenir le hash du dernier commit pour le tag des nouvelles images
      id: get_version
      run: echo "VERSION=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

    - name: Connexion à Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Construire et pousser l'image ${{ matrix.name }}
      uses: docker/build-push-action@v4
      with:
        context: ${{ matrix.directory }}
        file: ${{ matrix.directory }}/Dockerfile
        push: true
        tags: ${{ matrix.image }}:${{ env.VERSION }}

  update_k8s:
      runs-on: ubuntu-latest
      needs: build_and_push
      steps:
        - uses: actions/checkout@v3
          with:
            repository: fpicot31/k8s-ArgoCD-code
            ref: 'main'
            token: ${{ secrets.GH_SSH_KEY }}
        - name: deploy infra
          run: /
            NEW_TAG=$(echo $GITHUB_SHA | cut -c1-7)
            sed -i "s|atos06/gke-vue\(:[a-zA-Z0-9_.-]*\)\?|atos06/gke-vue:${NEW_TAG}|g" k8s/frontend.deployment.yaml
            sed -i "s|atos06/gke-api-node\(:[a-zA-Z0-9_.-]*\)\?|atos06/gke-api-node:${NEW_TAG}|g" k8s/api.deployment.yaml
            git config --global user.name "GitHub Actions"
            git config --global user.email "github-actions@example.com"
            git add .
            git commit -m "Mise à jour des versions des images dans les déploiements Kubernetes à $NEW_TAG"
        - run: git push origin main